<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.CustomerAddressMapper" >
    <update id="updateAddress" parameterType="com.example.demo.entity.Address" >
    update customer_address set phone=#{phone},address=#{address},receiver=#{receiver} where id=#{id}
 </update>

    <insert id="addAddress" parameterType="com.example.demo.entity.Address" >
        insert into customer_address(customer_id, address, phone, receiver) values
        (#{customerId},#{address},#{phone},#{receiver});
    </insert>

    <select id="getAddressByCustomerId" parameterType="BigInteger" resultMap="addressResultMap">
        select id,phone,receiver,address,customer_id from customer_address where customer_id=#{customerId}
    </select>

    <select id="getAddressById" parameterType="BigInteger" resultMap="addressResultMap">
        select id,phone,receiver,address,customer_id from customer_address where id=#{id}
    </select>

    <resultMap type="com.example.demo.entity.Address" id="addressResultMap">
        <id column="id" property="id"/>
        <result column="customer_id" property="customerId"/>
    </resultMap>

    <delete id="deleteById" parameterType="BigInteger">
        delete from customer_address where id=#{id}
    </delete>
</mapper>