<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.GoodsMapper" >

    <select id="getGoodsById" resultType="com.example.demo.entity.Goods" parameterType="BigInteger" >
    select id,name,introduce,price,picture,store,sale from goods where id=#{id}
  </select>

   <select id="getAllGoods" resultType="com.example.demo.entity.Goods" >
       select id,name,introduce,price,picture,store,sale from goods
   </select>



    <insert id="addGoods" parameterType="com.example.demo.entity.Goods" >
        insert into goods ( name, introduce, price, picture, store, sale) values
        (#{name},#{introduce},#{price},#{picture},#{store},#{sale});
    </insert>

    <select id="vagueSearch" resultType="com.example.demo.entity.Goods" parameterType="String" >
    select id,name,introduce,price,picture,store,sale from goods where  name like "%"#{searchContent}"%" or introduce like "%"#{searchContent}"%"
  </select>

    <update id="updateGoods" parameterType="com.example.demo.entity.Goods" >
    update goods set introduce=#{introduce},name=#{name},price=#{price},picture=#{picture},store=#{store} where id=#{id}
 </update>

    <delete id="deleteGoodsById" parameterType="BigInteger">
        delete from goods where id=#{id}
    </delete>

</mapper>