<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.SellerMapper" >

    <select id="getByAccount" resultMap="userResultMap" parameterType="String" >
    select * from seller where account=#{account}
  </select>


    <resultMap type="com.example.demo.entity.Seller" id="userResultMap">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="password" property="password"/>
    </resultMap>

</mapper>